body {
  background-image: url("../images/spikes.png");
}

.navbar {
  /* width: 100%; */
  padding: 0px;
  /* margin-right: auto;
  margin-left: auto; */
}
#nameTab {
  float: left;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 27px;
  width: 225px;
  height: 50px;
  top: 0px;
  line-height: 50px;
  margin: 0px 133px;
  /* margin-bottom: -8vh; */
  /* position: fixed(margin-bottom); */
}

#menuList {
  margin-right: 133px;
  padding: 10px;
}
#menuList a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
    
  #menuList a:hover {
    background-color: teal;
    color: #ffffff;
    /* padding: 10px; */
  }

  #menuList a:active {
    background-color: teal;
    color: #ffffff;
    /* padding: 10px; */
  }

  #profile-picture {
    width:250px;
    height:250px;
    float: left;
    margin-right: 17px;
    marg in-bottom: 10px
  }
  

  h1 {
    color: #4aaaa5;
  }
  @media screen and (max-width: 700px){
      #profile-picture{ 
        width: 96%;
        height: 96%;
        margin-bottom: 10px;
      }
  }
@media screen and (max-width: 700px) {
  .navbar-nav{
    overflow: auto;
    flex-direction: row;
  /* flex-direction: row-reverse; */
  justify-content: center;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 700px){
  .space{
    
      margin-right: 20px;
  }
}
@media screen and (max-width: 700px){
  .parent-link{
    
  }
}
  @media screen and (max-width: 700px){
    #nameTab{ 
      width: 100%;
      margin: 0px;
      clear: both;
    }
}

 
  /* PORTFOLIO PAGE */

.page-container{
  overflow: auto;
  height: 100%;
  justify-content: center;
}
.picbox {
  float: left;
  /* padding: 20px;
  width: 250px;
  height: 250px;
  
  padding-bottom: 10px;  */
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;

}
.capbox {

  color: #ffffff;
padding: 0px;
background-color: #4aaaa5;
width: 100%;
text-align: center;
position: absolute;
bottom: 7%;
padding-bottom: 10px; 
}

/* CONTACT PAGE */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: teal;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#sticky-footer2 {
  clear: both;
}